snippet fun "public function"
public function $1()
{
    $2
}
endsnippet

snippet pfun "private function"
private function $1()
{
    $2
}
endsnippet

snippet if "if"
if $1() {
    $2
}
endsnippet

snippet match "match"
match ($1) {
    $2 => $3,
    default => null,
};
endsnippet

snippet rget "Route GET"
Route::get('$1', [$2:class, '$3']);
endsnippet

snippet rpost "Route POST"
Route::post('$1', [$2:class, '$3']);
endsnippet

snippet rput "Route PUT"
Route::put('$1', [$2:class, '$3']);
endsnippet

snippet rdelete "Route DELETE"
Route::delete('$1', [$2:class, '$3']);
endsnippet
