snippet lam "Lambda function"
$1 = -> { $2 }
endsnippet

snippet lambda "Lambda function"
$1 = lambda { $2 }
endsnippet

snippet < "erb"
<% $1 %>
endsnippet

snippet = "Print erb"
<%= $1 %>
endsnippet
